.btn{
	.transition(0.2s);
	.border-radius(3px);
	.fp;
	margin: 0;
	padding: 0 8px;
	border : 1px solid @c5;
	height: @input-height;
	line-height: @input-height;
	font-size: @fsp;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @c5;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	background-repeat: no-repeat;
	&:hover{
		background-position: 0 -@input-height;
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: @c5;
		}
	}
}