// fonts
.fp {font-family: sans-serif;} // font primary
.fh {font-family: sans-serif;} // font header
.fs {font-family: 'Courgette',sans-serif;}
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #f3f7fd; // body background

// colors
@c1: #595859;
@c2: #1d5479;
@c3: #008dd8;
@c4: #dceefb;
@c5: #6ea421;
@c6: #edf8ff;
@c7: #97d0ed;
@c8: #ed0000;

@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 12px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// form
@input-size: 12px;
@input-height: 25px;
@input-padding: 10px;
@input-border: #ccc;
@input-bg: #fff;

// layout
@content-width: 990px;
@content-width-md: 990px;
@content-width-sm: 730px;
@content-width-xs: 100%;
@content-padding: 5px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";