body {
	position: relative;
	background-image: #b4d6f7;
	background-image: -moz-radial-gradient(center, ellipse cover,  #b4d6f7 0%, #f3f7fd 50%);
	background-image: -webkit-radial-gradient(center, ellipse cover,  #b4d6f7 0%,#f3f7fd 50%);
	background-image: radial-gradient(ellipse at center,  #b4d6f7 0%,#f3f7fd 50%);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 200% 800px;
	background-position: 50% -400px;
	&:before{
		content: '';
		position: absolute;
		top: 36px;
		left: 0;
		bottom: 0;
		right: 0;
		background: url(../images/bg/01.png) no-repeat top;
		@media @sm {
			top: 80px;
		}
		@media @xs {
			display: none;
		}
	}
}
.container {
	@media @xs {
		padding: 0 20px;
	}
}
.img-left {
	float: left;
	margin: 4px 20px 8px 0;
}
.img-right {
	float: right;
	margin: 4px 0 8px 20px;
}
#page-header {
	position: relative;
	z-index: 999;
	padding: 30px 0 20px;
	.logo {
		float: left;
		width: 194px;
		margin: 8px 0 20px;
		@media @sm {
			float: none;
		}
		@media @xs {
			width: auto;
			float: none;
			text-align: center;
		}
		a {
			img {
				display: block;
				@media @xs {
					margin: auto;
					max-width: 250px;
				}
			}
		}
	}
}
#col-main {
	.clearfix;
	position: relative;
	float: right;
	width: 760px;
	background: #fff;
	@media @sm {
		float: none;
		width: auto;
		margin: 0 0 30px;
	}
	@media @xs {
		float: none;
		width: auto;
		margin: 0 -20px 40px;
		padding: 20px;
	}
}
#col-center {
	position: relative;
	top: -22px;
	float: left;
	width: 555px;
	margin: 0 -8px 0 -8px;
	padding: 55px 59px 20px 56px;
	background: url(../images/bg/02.png) no-repeat top left;
	@media @sm {
		width: 515px;
		padding: 45px 40px 20px;
	}
	@media @xs {
		top: 0;
		float: none;
		width: auto;
		margin: 0;
		padding: 0;
		background: none;
	}
}
#col-left {
	position: relative;
	float: left;
	width: 200px;
	padding: 220px 20px 0 20px;
	@media @sm {
		float: none;
		padding: 0;
		width: auto;
		margin: 0 0 30px;
	}
	@media @xs {
		float: none;
		width: auto;
		padding: 0;
	}
}
#col-right {
	position: relative;
	float: right;
	width: 239px;
	top: -214px;
	padding: 40px 27px 20px 32px;
	margin: 0 -7px -180px -11px;
	background: url(../images/bg/03.png) no-repeat top;
	@media @sm {
		top: -30px;
		margin-bottom: -30px;
	}
	@media @xs {
		float: none;
		width: auto;
		top: 0;
		padding: 0 ;
		margin: 0;
		background: none;
	}
}
#col-bottom {
	margin: 1px 0 -35px;
	padding: 1px 0 0;
	background: #fff;
	@media @xs {
		margin-left: -20px;
		margin-right: -20px;
	}
}
.menu_main {
	.border-radius(6px);
	float: right;
	width: 760px;
	background: #fff;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
	@media @sm {
		float: none;
		width: auto;
	}
	@media @xs {
		float: none;
		width: auto;
	}
	.toggle {
		display: none;
		text-align: center;
		font-size: 46px;
		line-height: 1;
		padding: 5px 0;
		color: @c5;
		cursor: pointer;
		@media @xs {
			display: block;
		}
		&:before{
			.fi;
			content: '\e80e';
		}
		.menu_main-on & {
			color: @c8;
			&:before{
				content: '\e80f';
			}
		}
	}
	&>ul {
		.rul;
		padding: 0 0 0 13px;
		@media @sm {
			padding: 0;
		}
		@media @xs {
			display: none;
			text-align: center;
			padding: 0;
			.menu_main-on & {
				display: block;
			}
		}
		&>li {
			.rli;
			display: inline-block;
			padding: 13px 0 12px 32px;
			@media @sm {
				padding-left: 20px;
			}
			@media @xs {
				display: block;
				padding: 0;
				border-top: 1px solid @c4;
			}
			&:hover{
				&>ul {
					max-height: 400px;
					padding-top: 22px;
					padding-bottom: 20px;
				}
			}
			&.on {
				&>a {
					color: @c2;
				}
			}
			&>a {
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				color: @c5;
				font-size: 16px;
				line-height: 1.2;
				font-weight: bold;
				@media @xs {
					display: block;
					padding: 10px 20px;
				}
				&:hover{
					text-decoration: underline;
				}
			}
			&>ul {
				.rul;
				.transition(0.2s);
				.box-shadow(inset 0 4px 6px fade(@c3,8));
				.border-radius(0 0 6px 6px);
				position: absolute;
				top: 100%;
				left: 15px;
				width: 200px;
				background: @c6;
				overflow: hidden;
				max-height: 0;
				padding: 0 23px;
				@media @xs {
					.box-shadow(none);
					position: static;
					max-height: none;
					width: auto;
					background: none;
					padding: 10px 0 20px;
				}
				&>li {
					padding: 0 0 0 12px;
					margin: 0 0 8px;
					font-size: 13px;
					line-height: 1.2;
					@media @xs {
						.rli;
						display: inline-block;
						margin: 0 10px;
					}
					&.on {
						&:before{
							color: @c5;
						}
						a {
							color: @c5;
						}
					}
					&:before{
						font-size: 13px;
						top: 0px;
						color: @c2;
					}
					&>a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}
.main_quote {
	.fs;
	margin: 34px 275px 30px 386px;
	font-size: 17px;
	line-height: 1.35;
	color: @c2;
	min-height: 147px;
	@media @sm {
		min-height: 0;
		margin: 30px 0 50px 300px;
	}
	@media @xs {
		margin: 0 0 30px 35px;
		min-height: 0;
	}
	blockquote {
		position: relative;
		margin: 0 0 13px;
		&:before{
			content: '\201d';
			position: absolute;
			top: 0;
			left: -42px;
			font-size: 66px;
			line-height: 1;
			color: @c7;
		}
		&:after{
			position: relative;
			display: inline-block;
			content: '\201c';
			font-size: 66px;
			line-height: 1;
			color: @c7;
			margin: -50px 0;
			top: 45px;
		}
	}
	footer {
		font-size: 14px;
		text-align: right;
		color: #aaa;
		mark {
			
		}
	}
}
.news_articles {
	@media @xs {
		margin: 0 0 50px;
	}
	article {
		.clearfix;
		padding: 0 0 10px;
		margin: 0 0 18px;
		border-bottom: 1px solid @c4;
		line-height: 1.5;
		&.main {
			figure {
				float: none;
				margin: 0 0 13px;
				width: auto;
				a {
					img {
						border-width: 6px;
					}
				}
			}
			h2 {
				margin: 0 0 16px;
			}
		}
		h2 {
			font-size: 16px;
			margin: 0 0 11px;
			&:before{
				float: left;
				content: url(../images/icon/01.png);
				margin: -4px 11px 0 2px;
			}
			a {
				
			}
		}
		p {
			margin: 0;
		}
		figure {
			float: left;
			width: 70px;
			margin: 2px 10px 0 0;
			a {
				&:hover{
					img {
						border-color: @c7;
					}
				}
				img {
					.transition(0.2s);
					display: block;
					border: 1px solid @c4;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}
			}
		}
		nav {
			text-align: right;
		}
	}
	nav {
		a {
			display: inline-block;
			font-weight: bold;
			&:before{
				.fi;
				content: '\e80d';
				float: right;
				margin: 0 0 0 5px;
				font-weight: normal;
			}
		}
	}
}
.box_centres {
	margin: 0 0 23px;
	header {
		font-size: 18px;
		color: @c5;
		float: left;
		margin: 0 0 8px;
	}
	.label {
		.border-radius(3px);
		float: right;
		text-transform: uppercase;
		color: #fff;
		padding: 3px 4px;
		line-height: 1;
		margin: 3px 0 0 5px;
		background: @c8;
	}
	ul {
		.rul;
		.border-radius(4px);
		clear: both;
		margin: 0 0 -4px;
		border: 4px solid #8894a6;
		li {
			.rli;
			width: 100%;
			background: @c6;
			a {
				&:hover{
					mark {
						text-decoration: none;
					}
				}
				img {
					display: block;
					margin: auto;
				}
				mark {
					.border-radius(3px);
					position: absolute;
					top: 8px;
					left: 10px;
					right: 10px;
					text-align: center;
					padding: 5px;
					text-decoration: underline;
					color: @c2;
					background: fade(#fff,80);
				}
			}
		}
	}
	.navigation {
		.border-radius(0 0 6px 6px);
		.clearfix;
		padding: 12px 6px 7px;
		background: #dde0e6;
		.prev, .next {
			.border-radius(4px);
			position: relative;
			float: left;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			font-size: 10px;
			line-height: 24px;
			padding: 0 15px 0 20px;
			&:hover{
				background: @c2;
			}
			&, &.disabled {
				background: #637081;
				background: -moz-linear-gradient(top, #a0a9b8 0%, #637081 100%);
				background: -webkit-linear-gradient(top, #a0a9b8 0%,#637081 100%);
				background: linear-gradient(to bottom, #a0a9b8 0%,#637081 100%);
			}
			&.disabled {
				cursor: default;
				-webkit-opacity: 0.5;
				-moz-opacity: 0.5;
				opacity: 0.5;
				filter:alpha(opacity=50);
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				border-right: 12px solid transparent;
				border-top: 12px solid #dde0e6;
				border-bottom: 12px solid #dde0e6;
			}
		}
		.next {
			float: right;
			padding-left: 15px;
			padding-right: 20px;
			&:before{
				left: auto;
				right: 0;
				border-right: 0;
				border-left: 12px solid transparent;
			}
		}
	}
}
.box_consulting {
	margin: 0 -20px;
	padding: 16px 20px 21px;
	border-top: 1px solid @c4;
	background: -moz-linear-gradient(-45deg,  #e2effb 0%, #ffffff 50%);
	background: -webkit-linear-gradient(-45deg,  #e2effb 0%,#ffffff 50%);
	background: linear-gradient(135deg,  #e2effb 0%,#ffffff 50%);
	background-size: 220px 220px;
	background-repeat: no-repeat;
	header {
		font-size: 18px;
		color: @c5;
		margin: 0 0 9px;
	}
	.items {
		.item {
			a {
				text-decoration: none;
				color: @c1;
			}
			.q, .a {
				position: relative;
				font-size: 11px;
				line-height: 1.25;
				margin: 0 0 8px;
			}
			.a {
				padding: 6px 0 18px 8px;
				margin: 0;
				border-left: 1px solid @c5;
				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					right: 25%;
					height: 1px;
					background: #6fa422;
					background: -moz-linear-gradient(left,  #6fa422 0%, #ffffff 100%);
					background: -webkit-linear-gradient(left,  #6fa422 0%,#ffffff 100%);
					background: linear-gradient(to right,  #6fa422 0%,#ffffff 100%);
				}
			}
		}
	}
	nav {
		margin: 0 0 0 -2px;
		a {
			.btn;
		}
	}
}
.box_blog {
	margin: 0 -20px;
	padding: 16px 20px;
	border-top: 1px solid @c4;
	background: -moz-linear-gradient(-45deg,  #e2effb 0%, #ffffff 50%);
	background: -webkit-linear-gradient(-45deg,  #e2effb 0%,#ffffff 50%);
	background: linear-gradient(135deg,  #e2effb 0%,#ffffff 50%);
	background-size: 220px 220px;
	background-repeat: no-repeat;
	header {
		font-size: 18px;
		color: @c5;
		margin: 0 0 10px;
		mark {
			text-transform: uppercase;
			font-weight: bold;
			color: @c3;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			.clearfix;
			margin: 0 0 10px;
			a {
				color: @c3;
				img {
					float: left;
					width: 39%;
					margin: 3px 10px 0 0;
				}
			}
		}
	}
}
.box_article {
	.box-shadow(inset 0 0 20px fade(@c3,15));
	.clearfix;
	float: left;
	width: 63%;
	padding: 20px 20px 10px;
	min-height: 280px;
	border-right: 1px solid #fff;
	background: @c4;
	@media @sm, @xs {
		width: auto;
		float: none;
		border-right: none;
		margin: 0 0 1px;
		min-height: 0;
		padding-bottom: 20px;
	}
	figure {
		position: relative;
		float: left;
		width: 55.5%;
		padding: 0 0 41.5%;
		border: 1px solid #fff;
		@media @xs {
			width: auto;
			float: none;
		}
		object, iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}
	}
	.content {
		width: 44.5%;
		float: right;
		padding: 0 0 0 30px;
		line-height: 1.5;
		@media @xs {
			float: none;
			width: auto;
			padding: 0 0 15px;
		}
		header {
			position: relative;
			overflow: hidden;
			color: @c5;
			line-height: 1.4;
			margin: 0 0 15px -12px;
			@media @xs {
				margin-left: 0;
			}
			&:before, &:after{
				content: '';
				position: absolute;
				top: 50%;
				left: 1px;
				margin: -200px 0 0;
				border-top: 200px solid @c5;
				border-bottom: 200px solid @c5;
				border-right: 50px solid transparent;
				@media @xs {
					display: none;
				}
			}
			&:after{
				left: 0;
				border-top: 200px solid @c4;
				border-bottom: 200px solid @c4;
			}
			span {
				.border-radius(4px);
				display: block;
				padding: 10px 10px 10px 20px;
				border: 1px solid @c5;
				background: #dcfbde;
				background: -moz-linear-gradient(top,  #dcfbde 0%, #caedc2 100%);
				background: -webkit-linear-gradient(top,  #dcfbde 0%,#caedc2 100%);
				background: linear-gradient(to bottom,  #dcfbde 0%,#caedc2 100%);
				h2 {
					font-size: 19px;
					color: @c2;
					margin: 2px 0;
					small {
						display: block;
						margin: -3px 0 0;
					}
				}
			}
		}
		p {
			margin: 10px 0 0;
		}
		nav {
			text-align: right;
			a {
				display: inline-block;
				font-weight: bold;
				&:before{
					.fi;
					content: '\e80d';
					float: right;
					margin: 0 0 0 5px;
					font-weight: normal;
				}
			}
		}
	}
}
.box_competition {
	.box-shadow(inset 0 0 20px fade(@c3,15));
	.clearfix;
	float: left;
	width: 37%;
	padding: 20px 20px 10px;
	min-height: 130px;
	margin: 0 0 1px;
	background: @c4;
	border-right: 1px solid #fff;
	@media @sm {
		width: 50%;
		min-height: 160px;
	}
	@media @xs {
		float: none;
		width: auto;
		border-right: none;
		min-height: 0;
		padding-bottom: 20px;
	}
	figure {
		float: left;
		width: 27%;
		margin: 0 22px 0 0;
		img {
			.transition(0.2s);
			display: block;
			border: 1px solid @c7;
		}
		a {
			&:hover{
				img {
					border-color: @c3;
				}
			}
		}
	}
	.content {
		h2 {
			font-size: 18px;
			color: @c5;
			margin: 0 0 5px;
		}
		p {
			margin: 0 0 8px;
		}
	}
	nav {
		a {
			.btn;
			&:before{
				.fi;
				content: '\e80d';
				float: right;
				margin: -1px -2px 0 5px;
				font-size: 14px;
			}
		}
	}
}
.box_discusion {
	.box-shadow(inset 0 0 20px fade(@c3,15));
	float: right;
	width: 37%;
	min-height: 149px;
	padding: 17px 10px 0 20px;
	background: @c4;
	@media @sm {
		width: 50%;
		min-height: 160px;
	}
	@media @xs {
		float: none;
		width: auto;
		min-height: auto;
		padding-bottom: 10px;
	}
	header {
		float: left;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 12px;
		color: @c5;
	}
	nav {
		margin: 1px 0 10px;
		float: right;
		font-weight: bold;
	}
	ul {
		.rul;
		clear: both;
		li {
			.rli;
			font-size: 11px;
			line-height: 1.2;
			margin: 0 0 20px;
			a {
				color: @c1;
			}
		}
	}
}
.box_poll {
	line-height: 1.3;
	color: @c3;
	margin: 0 0 40px;
	header {
		font-size: 18px;
		line-height: 1.2;
		color: @c5;
		margin: 0 0 10px;
	}
	p {
		margin: 0 0 14px;
	}
	.items {
		.item {
			padding: 0 30px 0 0;
			margin: 0 0 15px;
			line-height: 1.2;
			a {
				display: inline-block;
				margin: 0 -30px 0 0;
			}
			.ratio {
				.border-radius(2px);
				display: block;
				line-height: 0.6;
				white-space: nowrap;
				color: @c1;
				margin: 5px 0;
				border: 1px solid @c5;
				background: @c5;
				background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
				background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
				background-image: linear-gradient(to bottom,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
				background-repeat: no-repeat;
				&:before{
					content: '';
					display: inline-block;
					width: 100%;
					margin: 0 5px 0 0;
				}
			}
		}
	}
}
.menu_footer {
	float: right;
	@media @sm, @xs {
		float: none;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 10px;
			@media @sm, @xs {
				margin: 0 5px;
			}
		}
	}
}
#page-footer {
	padding: 50px 0;
	.copy {
		float: left;
		@media @sm, @xs {
			text-align: center;
			float: none;
		}
	}
}













